include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "Оценка фронтенда: перестаем&nbsp;тыкать пальцем в&nbsp;небо"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="vendor/highlight.css")
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x10.css')
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', header: title, classes:'cover'})
      p Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/cover.jpg')
    +slide({header: "Кто я?", classes: "label-header white"})
      ul 
        li Глава отдела фронтенда, LOVATA
        li Full-stack MEAN разработчик
      p
        img.logo(src="pictures/minskcss.png")
        img.logo(src="pictures/minskjs.png")
        img.logo(src="pictures/css-minsk-js.svg")
      +cover('pictures/white-cover.jpg')
    +slide({header: "Кто вы?", classes: "label-header"})    
      +cover('pictures/deadline.jpg')
    +slide({header: "<span class='label'>Как не надо</span>", shout: true})
      +cover('pictures/blur-cover.jpg')
    +slide({})
      +cover('pictures/finger.jpg')
    +slide({})
      table
        tbody
          tr
            th Первоначальная
            th &nbsp;
            th Действительная
          tr
            td 5 минут
            td &rarr;
            td 1 час
          tr
            td 1 час
            td &rarr;
            td 2 часа
          tr
            td 4 часа
            td &rarr;
            td 4 часа
          tr
            td 8 часов
            td &rarr;
            td 12-16 часов
          tr
            td 2 дня
            td &rarr;
            td 5 дней
          tr
            td 1 неделя
            td &rarr;
            td 2-20 дней
      p
        a(href="https://habrahabr.ru/company/ruswizards/blog/151029/", target="_blank") Habr
    +slide({})
      +cover('pictures/bobuk.png')
      p
        a(href="https://youtu.be/XUqiMEh2PMc", target="_blank") Youtube
    +slide({})
      +cover('pictures/estimation-chain.jpg')
      p
        a(href="https://youtu.be/RbOkgLa1XjM", target="_blank") Youtube
    +slide({})
      +cover('pictures/from-to.jpg')
    +slide({})
      +cover('pictures/i-dont-know.jpg')
      p
        a(href="https://youtu.be/GIPFLIoeKkg", target="_blank")
    +slide({header: "<span class='label'>Не скажу</span>", shout: true})
      +cover('pictures/i-dont-know.jpg')
    +slide({header: "<span class='label'>Что оцениваем?</span>", shout: true})
      +cover('pictures/blur-cover.jpg')
    +slide({header: "Типы оценки", classes: "label-header"})
      ul
        li.next Предварительная
          span.next  — высокоуровневая, где ничего не понятно
          ul.next
            li проекты, этапы работ
        li.next Точная
          span.next  — низкоуровневая, где все известно
          ul.next
            li конкретные задачи
        li.next Переоценка
          span.next  — изменились требования, поменялся разработчик
          ul.next
            li в процессе разработки
    +slide({header: "<span class='label'>Почему ошибаемся?</span>", shout: true})
      +cover('pictures/blur-cover.jpg')
    +slide({header: "Причины ошибок в оценках. Топ 5", classes: "label-header"})
      ol
        li.next Люди ошибаются
        li.next Неточные требования или неизвестный набор задач
        li.next Не учитываются риски
        li.next Сложно оценить то, чего никогда не делал
        li.next Производительность разработчиков может отличаться разы
    +slide({header: "<span class='label'>Как надо</span>", shout: true, classes: 'cover'})
      +cover('pictures/blur-cover.jpg')
    +slide({header: "Этапы оценки", classes: "label-header"})
      ul
        li.next Подготовка
        li.next Оценка
        li.next Разработка
        li.next Анализ
    +slide({header: "<span class='label'>Подготовка</span>", shout: true, classes: 'cover'})
      +cover('pictures/preparations.jpg')
    +slide({header: "Подготовка", classes: "label-header"})
      ul
        li.next Составьте детальный структурированный список
    +slide({header: "<span class='label'>Таблица</span>", shout: true, classes: 'cover'})
    +slide({header: "<span class='label'>Оценка</span>", shout: true, classes: 'cover'})
    +slide({header: "Оценка", classes: "label-header"})
      ul
        li.next Задавайте вопросы
        li.next Декомпозируйте задачи
        li.next Учитывайте риски
    +slide({header: "<span class='label'>Схема</span>", shout: true, classes: 'cover'})
    +slide({header: "<span class='label'>Разработка</span>", shout: true, classes: 'cover'})
    +slide({header: "Разработка", classes: "label-header"})
      ul
        li.next Трекайте время
        li.next Делайте переоценки
    +slide({header: "<span class='label'>Анализ</span>", shout: true, classes: 'cover'})
    +slide({header: "Анализ", classes: "label-header"})
      ul
        li.next Анализируйте оцененное и реально затраченное время
        li.next Учитывайте коэффициент погрешности оценок
    +slide({header: "Коэффициент погрешности оценок", classes: "label-header"})
      table.formula
        tr
          th(rowspan="2") k =
          td затраченное
        tr
          td оцененное
    +slide({header: "<span class='label'>Задачи &times; Время &ne; Дедлайн</span>", shout: true, classes: 'cover'})
    +slide({header: "Что забыли?", classes: "label-header"})
      ul
        li.next Разработчик никогда не тратит все 100% рабочего времени на задачу
        ul
          li.next Интеграции
          li.next Деплой, git
          li.next Коммуникации
          li.next Тестирование
          li.next Кофе, туалет, проверка почты, общение с коллегами, прокрастинация
    +slide({header: "Хочу больше", classes: "label-header"})
      ul
        li 
          a(href="https://habrahabr.ru/company/ruswizards/blog/151029/" target="_blank") Реальная оценка или почему наступают дедлайны
          |  (Хабр) 
        li  
          a(href="https://dou.ua/lenta/articles/ob-otsenke-vremeni/" target="_blank") Некоторые правила улучшения временнóй оценки задачи
          |  (статья) 
        li  
          a(href="https://www.slideshare.net/VLDCORP/ss-10635744" target="_blank") Оценки имеют значение
          |  (SlideShare) 
        li  
          a(href="https://www.slideshare.net/ExigenServices/ss-26460568" target="_blank") Оценка задач, выполняемых по итеративной разработке
          |  (SlideShare) 
        li  
          a(href="https://habrahabr.ru/post/308494/" target="_blank") Как дать адекватную оценку времени, когда неопределённость бьёт по башке
          |  (Хабр) 
    +slide({header: "Как итог", classes: 'label-header'})
      figure
        blockquote 
          p — Нельзя поверить в невозможное! 
          p — Просто у тебя мало опыта
        figcaption «Алиса в Зазеркалье», Льюис Кэрролл
    +slide({name: 'theend', header: "Вопросы?", shout: true, classes: 'cover label-header'})
      p.end-link 
        a.bigger(href="http://bit.ly/MinskCSS-ETA" target="_blank") bit.ly/MinskCSS-ETA
        br
        | Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/blur-cover.jpg')
    
    .progress
    script(src='shower/shower.min.js')